:root {
    --background-color: #D5EDCC;
    --background-element: #248B43;
    --backgrount-color-button-product: #373737;
    --background-input: #d9d9d9;
    --text-color-light: #fff;
    --text-color-baner: #797979;
    --text-color-item-cart-product: #000;
    --text-color-input-placeholder: #7d7d7d;
    --button-color-item-product: #373737;
    --font-size-h1: 32px;
    --font-size-p: 24px;
    --font-size-mobile-h1: 24px;
    --font-size-mobile-p: 16px;
    --font-size-text-header: 20px;
    --font-family-logo: "Caveat", sans-serif;
    --font-family-title-site: "Playfair Display", sans-serif;
    --font-family-standart: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease 0s;
}

html, body {
    width: 100%;
    background-color: var(--background-color);
    font-family: var(--font-family-standart);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-standart);
}

button {
    cursor: pointer;
    font-family: var(--font-family-standart);
    font-size: var(--font-size-p);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: none;
    border: 2px solid var(--text-color-light);
    font-size: var(--font-size-text-header);
    color: white;
    padding: 0px 10px;
}

.button:hover {
    cursor: pointer;
}

/* header */

.header {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}


.header.scrolled {
    background-color: var(--background-element);
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.header-menu {
    height: 100%;
}

.container-header {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo-phone {
    display: flex;
    align-content: center;
    gap: 20px;
}

.logo,
.phone-next-to-logo {
    align-content: center;
}

.logo {
    font-family: var(--font-family-logo);
    font-size: 32px;
}

.phone-next-to-logo {
    font-family: var(--font-family-logo);
}

.img-button {
    padding: 0;
}

@media (min-width: 900px) {
    .header {
        font-size: var(--font-size-text-header);
    }

    .menu_icon {
        display: none;
    }

    .drop-menu {
        display: flex;
        align-items: center;
        justify-self: flex-end;
        gap: 30px;
    }

    .navigation {
        align-content: center;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
    
    .navigation-list {
        display: flex;
        align-content: center;
        justify-self: flex-start;
    
        gap: 20px;
    }

    .cart-login-registration {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        align-items: center;
        gap: 5px;
    }

}

@media (max-width: 900px) {

    .logo {
        font-size: 20px;
    }

    .phone-next-to-logo {
        font-size: 16px;
    }

    .menu-icon {
        z-index: 11;
        display: block;
        position: relative;
        width: 50px;
        height: 38px;
        cursor: pointer;
    }

    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        left: 0;
        position: absolute;
        height: 15%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        top: 0;
    }

    .menu-icon::after {
        bottom: 0;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu-icon._active span{
        transform: scale(0) translate(0px, -50%);
    }

    .menu-icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu-icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .drop-menu {
        display: flex;
        position: fixed;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        top: 65px;
        right: 0;
        right: -100%;
        background-color: var(--background-element);
        border-radius: 20px 0 20px 20px;
        padding: 20px 10px;
        transition: right 0.3s ease 0s;
        overflow: auto;
    }
    .drop-menu._active {
        right: 0;
    }

    .cart-login-registration {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .navigation {
        width: 100%;
    }

    .navigation-list {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .navigation-list li {
        width: 100%;
        padding: 5px;
        border: 2px solid var(--text-color-light);
    }
   
    .navigation-item {
        display: flex;
        width: 100%;
        justify-content: center;   
        font-size: var(--font-size-text-header);
    }

    .button-header {
        width: 100%;
    }
    
}

/* conteiner form */

.conteiner-form {
    display: flex;
    position: absolute;
    width: 100%;
}

@media (min-width: 1024px) {
    .conteiner-form {
        display: flex;
        width: 572px;
    }  
}

.input-submit-form-in-header {
    width: 100%;
    cursor: pointer;
    font-size: var(--font-size-p);
}

/* .cart form in header, */
.cart-form-in-header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    top: 85px;
    right: -100%;
    border-radius: 20px 0 20px 20px;
    background-color: var(--background-element);
    padding: 20px 10px;
    transition: right 0.3s ease 0s;
    overflow: auto;
}

.cart-form-in-header._active {
    right: 0;
}

.items-cart {
    width: 100%;
    max-height: 392px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.item-cart {
    background-color: #d1d1d1;
    color: var(--text-color-item-cart-product);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.image-item-cart {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-information {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.count-add-remove-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.button-product-in-cart {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.input-submit-form-in-header {
    color: var(--text-color-light);
    background: none;
    border: 2px solid var(--text-color-light);
    padding: 20px 10px;
}

/* login, registrion forms in header */

.login-form-in-header,
.registration-form-in-header,
.forgot-password-form-in-header {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    border-radius: 20px 0 20px 20px;
    width: 450px;
    top: 85px;
    right: -100%;
    background-color: var(--background-element);
    padding: 20px 10px;
    transition: right 0.3s ease 0s;
    overflow: auto;
}

.login-form-in-header._active,
.registration-form-in-header._active,
.forgot-password-form-in-header._active {
    display: flex;
    right: 0px;
}

.input-form-in-header {
    position: relative;
    width: 100%;
    height: 49px;
    border-radius: 10px;
    background: var(--background-input);
}

.input-form-in-header-label {
    position: absolute;
    width: 65%;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-input-placeholder);
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-form-in-header-input {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-p);
    border-radius: 10px;
    padding: 6px 10px 5px; /* добавляем padding сверху для label */
}

.input-form-in-header-input:focus,
.input-form-in-header-input:not(:placeholder-shown) {
    border: 3px solid black;
}

.input-form-in-header-input:focus + .input-form-in-header-label,
.input-form-in-header-input:not(:placeholder-shown) + .input-form-in-header-label{
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.links-in-login-registration {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .login-form-in-header,
    .registration-form-in-header._active,
    .forgot-password-form-in-header {
        width: 400px;
    }
}

/* main */

.section-title {
    display: inline-flex;
    background-color: var(--background-element);
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.section-title h1 {
    color: var(--text-color-light);
    font-size: var(--font-size-h1);
}


/* headline */

.headline {
    background-image: url(../image/background_headline.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 1000px;
}

.conteiner-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: relative;
    width: 750px;
    height: 497px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.conteiner-headline-title {
    display: flex;
    flex-direction: row;
}

.conteiner-headline-title h1 {
    font-family: var(--font-family-title-site);
    font-style: italic;
    font-size: 128px;
    font-weight: 800;
    line-height: 1;
    text-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.45);
}

.light-title-text {
    color: var(--text-color-light);
}

.dark-title-text {
    color: var(--text-color-baner);
}

.container-headline-text {
    font-size: var(--font-size-p);
    font-style: italic;
    font-weight: 800;
    color: var(--text-color-light);
    line-height: 2.2;
}

.button-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 35px;
    background: none;
    color: var(--text-color-light);
    font-style: italic;
    border: 2px solid #fff;
    cursor: pointer;
}

@media (max-width: 900px) {

    .conteiner-headline {
        width: 413px;
    }

    .conteiner-headline-title h1 {
        font-size: 64px;
    }

    .container-headline-text {
        font-size: var(--font-size-mobile-p);
    }
}

/* about-us */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    overflow: hidden;
    border-radius: 5px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2.3 / 3; /* Высота больше ширины */
}

@media (min-width: 900px) {
    .grid-item:nth-child(2n) {
        grid-row: span 2;
    }

    .grid-item:nth-child(3n) {
        grid-row: span 3;
    }
}

.information {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.about-us-contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.conteiner-contact {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.map {
    width: 500px;
    height: 500px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    border: 10px solid var(--background-element);
}

.conteiner-contact-items {
    max-width: 500px;
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.5s ease 0s;
}

.contact-item {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-element);
    border-radius: 30px;
    color: var(--text-color-light);
    transition: all 0.4s ease 0s;
    padding: 3px;
}

.contact-item img {
    width: 64px;
    height: 64px;
}

.contact-item p {
    width: 100%;
    font-size: var(--font-size-p);
}

.about-us-conteiner-text {
    color: var(--text-color-light);
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
}

.conteiner-text {
    background-color: var(--background-element);
    border-radius: 10px;
    padding: 20px;
    line-height: 1.475;
    font-size: var(--font-size-p);
}

@media (max-width: 1724px) {

    .map {
        width: 450px;
        height: 450px;
    }
    
}

@media (max-width: 1524px) {

    .map {
        width: 400px;
        height: 400px;
    }

    .contact-item img {
        width: 50px;
        height: 50px;
    }
    
}

@media (max-width: 1224px) {

    .map {
        width: 450px;
        height: 450px;
    }

    .information {
        flex-direction: column;
    }

    .about-us-contact {
        align-items: center;
    }

    .about-us-conteiner-text {
        align-items: center;
        padding: 10px;
        width: 100%;
    }
    
}

@media (max-width: 900px) {

    .map {
        width: 500px;
        height: 500px;
    }

    .conteiner-contact {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

}

@media (max-width: 700px) {
    .map {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 400px) {
    .map {
        width: 350px;
        height: 350px;
    }
}

/* categories */

.categories {
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    gap: 50px;
}

.conteiner-categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 146px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: #fff;
}

.category-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.category-title-and-button {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    
}

.category-button-link {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-element);
    font-size: var(--font-size-p);
    color: var(--text-color-light);
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
    .categories {
        padding: 20px;
    }

    .conteiner-categories {
        gap: 50px;
    }
}

@media (max-width: 700px) {
    .categories {
        padding: 10px;
    }

    .conteiner-categories {
        gap: 10px;
    }
}

/* ctalog */

.catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

/* filter and search */

.filter-and-search {
    background-color: var(--background-element);
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

/* filter */

.button-filter-mobile {
    display: none;
}

.filter {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    gap: 30px;
}

.filter-item {
    font-size: var(--font-size-p);
    color: var(--text-color-light);
    transition: all 0.4s ease 0s;
}

.button-filter {
    background: none;
    border: none;
    position: relative;
    color: var(--text-color-light);
    transition: all 0.4s ease 0s;
}

.button-filter::after {
    content: "▼";
    position: absolute;
    top: 10px;
    font-size: 12px;
    right: -15px;
    color: var(--text-color-light);
    transition: all 0.4s ease 0s;
}

.button-filter._active::after {
    transform: rotate(-180deg);
}

.filter-dropmenu {
    display: none;
    flex-direction: column;
    padding: 15px;
    top: 200%;
    gap: 15px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--background-element);
}

.filter-dropmenu._active {
    display: flex;
}

.filter-order li,
.filter-type li {
    display: flex;
    gap: 10px;
}

.filter-price {
    flex-direction: row;
    align-items: center;
}

.filter-price input[type="number"] {
    display: flex;
    width: 150px;
    padding: 5px 5px;
    height: 100%;
    outline: none;
    border: none;
    font-size: var(--font-size-p);
}


.button-filter-dropmenu {
    width: 100%;
}

@media (max-width: 1000px) {

    .button-filter-mobile {
        display: flex;
    }

    .filter{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px;
        gap: 15px;
        flex-direction: column;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: var(--background-element);
    }

    .button-filter::after {
        content: none;
    }

    .filter-dropmenu {
       display: flex;
       position: relative;
       background: none;
       box-shadow: none;
    }

    .filter-price {
        flex-direction: column;
        width: 100%;
        align-items: self-start;
    }

    .filter-price input[type="number"] {
        width: 100%;
    }

    .by,
    .through {
        display: block;
    }

    .filter._active {
        display: flex;
    }
    
}

/* search */

.conteiner-search {
    background-color: var(--background-color);
    position: relative;
    width: 420px;
    height: 100%;
    border-radius: 30px;
}

.conteiner-search input[type='search'] {
    width: 100%;
    height: 100%;
    padding: 10px 60px 10px 10px;
    border: none;
    border-radius: 30px;
    font-size: var(--font-size-p);
}

.conteiner-search label {
    position: absolute;
    padding: 10px;
    border-radius: 30px;
    right: 5px;
    top: 50%;
    transform:translateY(-50%);
    background-color: var(--background-element);
    cursor: pointer;
}

.conteiner-search label input[type='submit'] {
    width: 32px;
    height: 32px;
    background-image: url(../icon/search.svg);
    background-color: var(--background-element);
    background-size: cover;
    border: none;
    cursor: pointer;
}

/* products */

.conteiner-products {
    height: 800px;
}

